<!doctype html>
<html lang="en">

<%- include('header'); -%>

    <div id="game">

        <div v-if="token == 1">
            <button type="button" class="btn btn-sm btn-block btn-warning" @click="next()">Next</button>
        </div>

        <div v-if="error" class="alert alert-danger">
            <strong>Error: </strong> {{error}}
        </div>

        <div v-else-if="state.state === false ">
            <%- include('loading') -%>
        </div>

        <div v-else-if="state.state == 0">
            <%- include('login') -%>
        </div>

        <div v-else-if="state.state == 1 || me.state == 1 || state.state == 17 || state.state == 16 || state.state == 11 || state.state == 16">
            <%- include('waiting') -%>
        </div>

        <div v-else-if="state.state == 2 || state.state == 7 || state.state == 12">
            <%- include('prompts') -%>
        </div>

        <div v-else-if="(state.state == 3 || state.state == 8 || state.state == 13) && me.role == 'player'">
            <%- include('answers') -%>
        </div>

        <div v-else-if="(state.state == 3 || state.state == 8 || state.state == 13) && me.role == 'spectator'">
            <%- include('waiting') -%>
        </div>

        <div v-else-if="state.state == 4 || state.state == 9 || state.state == 14 || state.state == 5 || state.state == 10 || state.state == 15">
            <%- include('voting') -%>
        </div>

    </div>

    <div id="display"></div>

    </div>

    </div>

    <%- include('footer'); -%>

</html>